.logo {
    text-align: center;
    font-size: 60px;
    font-family: 'Impact';
    -webkit-text-stroke:1.5px black;
    color: white;
}

.header-container{
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
}

.home{
    text-align: end;
    background-color: grey;
    color: white;
    margin: 0 10px;
    padding: 5px;
}

.home:active{
    background-color: black;
}

.home:hover{
    background-color: black;
}

.link-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

@media(max-width:700px){
    .link-container{
        justify-content:center;
    }
}

@media (max-width: 500px){
    .logo{
        font-size: 50px;
    }
}

@media (max-width: 350px){
    .logo{
        font-size: 40px;
    }
}