.logo {
    font-size: 80px;
    -webkit-text-stroke:2.5px black;
    letter-spacing: 2px;
}

.logo > a{
    color: white;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.home{
    font-size:30px;
    color: black;
    margin: 0 10px;
    padding: 5px;
    border: 5px solid transparent;
    box-sizing: border-box;
}


.home:hover{
    border-color:  black;
}


@media (max-width: 500px){
    .logo{
        font-size: 50px;
    }
}

@media (max-width: 350px){
    .logo{
        font-size: 40px;
    }
}