.swiper-wrapper {
  align-items: center;
  width: fit-content;
}

.swiper-slide {
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: black;
}

#category {
  width: fit-content;
  padding: 10px;
  border-radius: 2em;
}

img {
  max-width: calc(100% - 80px);
  height: auto;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
}

@media (max-width: 800px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
}

#slider {
  padding-bottom: 20px;
}

.meme-description {
  font-family: "Oswald", "Montserrat";
  font-size: larger;
  margin: 5px;
  border-left: 10px solid rgb(211, 204, 204);
  background-color: #eee;
  width: 70%;
}

.close{
    visibility: hidden;
}

.open{display: block;}

#toggle-description{
    padding: 10px;
    background-color: rgb(82, 80, 80);
    border-radius: 2em;
    color: white;
    text-decoration: none;
    border: none;
    font-size: larger;
}

#toggle-description:hover{
    background-color: black;
}

.container{
    margin: 10px;
}

.meme-tips {
  font-family: "Montserrat", "Oswald";
  padding: 5px;
  margin: 0;
}

.meme-tips-header {
  font-family: "Montserrat", "Oswald";
  margin: 15px 0 0 0;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}
