.swiper-wrapper {
    align-items: center;
    width: fit-content;
}

.swiper-slide {
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: black;
}

#category {
    width: fit-content;
    padding: 10px;
    border-radius: 2em;
}

img {
    max-width: calc(100% - 80px);
    height: auto;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
}

@media (max-width: 800px) {
    .swiper-button-next,
    .swiper-button-prev {
        visibility: hidden;
    }
}

#slider {
    padding-bottom: 20px;
}

.meme-description {
    font-family: "Oswald","Montserrat";
    font-size: larger;
    padding: 5px;
    border-left: 5px solid grey;
    background-color: #eee;
    width: 100%;
}

.image-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}